In [1]:
# Neighborhoods and zip codes - Provided by: https://www.nyc.gov/assets/doh/downloads/pdf/ah/zipcodetable.pdf
neighborhood_zipcodes = {"Washington Heights - Inwood": [10031, 10032, 10033, 10034, 10040],
"Central Harlem - Morningside Heights": [10026, 10027, 10030, 10037, 10039],
"East Harlem": [10029, 10035],
"Upper West Side": [10023, 10024, 10025],
"Upper East Side": [10021, 10028, 10044, 10128],
"Chelsea - Clinton": [10001, 10011, 10018, 10019, 10020, 10036],
"Gramercy Park - Murray Hill": [10010, 10016, 10017, 10022],
"Greenwich Village - SoHo": [10012, 10013, 10014],
"Union Square - Lower East Side": [10002, 10003, 10009],
"Lower Manhattan": [10004, 10005, 10006, 10007, 10038, 10280]}

Stephen

Jonathan

Erika

In [7]:
import pandas as pd
from pathlib import Path
import numpy as np

In [63]:
# Reference the file where the CSV is located
path = Path("Resources/medianSalesPrice_All.csv")

# Import the data into a Pandas DataFrame
sales_data_df = pd.read_csv(path, encoding="UTF-8")
sales_data_df.head()

,areaName,Borough,areaType,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,...,2022-03,2022-04,2022-05,2022-06,2022-07,2022-08,2022-09,2022-10,2022-11,2022-12
0,All Downtown,Manhattan,submarket,1317500.0,1579500.0,1420000.0,1337500.0,1375000.0,1337500.0,1504668.0,...,1600000.0,1629600.0,1472500.0,1625000.0,1401546.0,1400000.0,1400108.0,1335000.0,1450000.0,1374637.0
1,All Midtown,Manhattan,submarket,853000.0,942000.0,960000.0,865000.0,856038.5,850000.0,870000.0,...,850000.0,975000.0,918000.0,850000.0,867500.0,870000.0,780000.0,792500.0,1030000.0,887500.0
2,All Upper East Side,Manhattan,submarket,1175000.0,1022000.0,1260000.0,1215000.0,1171639.0,1100000.0,1160805.0,...,1217500.0,1425000.0,1200000.0,1150000.0,1235000.0,1120000.0,1225000.0,997000.0,1100000.0,1225000.0
3,All Upper Manhattan,Manhattan,submarket,625000.0,547500.0,582500.0,646250.0,580000.0,704213.5,645000.0,...,775901.0,709975.0,737000.0,723000.0,640000.0,685000.0,685000.0,592000.0,496860.0,457500.0
4,All Upper West Side,Manhattan,submarket,973468.5,1250000.0,1250000.0,1480000.0,1348888.0,985000.0,1205000.0,...,1325000.0,1205000.0,1167500.0,1275000.0,1260000.0,1260000.0,1315000.0,1120000.0,985000.0,998420.0

In [64]:
# Extract unique values for 'areaName', 'Borough', and 'areaType'
area_names = sales_data_df['areaName'].unique()
boroughs = sales_data_df['Borough'].unique()
area_types = sales_data_df['areaType'].unique()

# Use the melt function to unpivot the DataFrame and create a single column for dates
sales_data_df = sales_data_df.melt(id_vars=['areaName', 'Borough', 'areaType'], var_name='Date', value_name='Price')

# Display the cleaned and rearranged DataFrame
print(sales_data_df)

                 areaName    Borough      areaType     Date      Price
0            All Downtown  Manhattan     submarket  2018-01  1317500.0
1             All Midtown  Manhattan     submarket  2018-01   853000.0
2     All Upper East Side  Manhattan     submarket  2018-01  1175000.0
3     All Upper Manhattan  Manhattan     submarket  2018-01   625000.0
4     All Upper West Side  Manhattan     submarket  2018-01   973468.5
...                   ...        ...           ...      ...        ...
2275      Upper East Side  Manhattan  neighborhood  2022-12  1225000.0
2276      Upper West Side  Manhattan  neighborhood  2022-12   998420.0
2277   Washington Heights  Manhattan  neighborhood  2022-12    42500.0
2278          West Harlem  Manhattan  neighborhood  2022-12        NaN
2279         West Village  Manhattan  neighborhood  2022-12  1750000.0

[2280 rows x 5 columns]

Khatia