In [5]:
# Neighborhoods and zip codes - Provided by: https://www.nyc.gov/assets/doh/downloads/pdf/ah/zipcodetable.pdf
neighborhood_zipcodes = {"Washington Heights - Inwood": [10031, 10032, 10033, 10034, 10040],
"Central Harlem - Morningside Heights": [10026, 10027, 10030, 10037, 10039],
"East Harlem": [10029, 10035],
"Upper West Side": [10023, 10024, 10025],
"Upper East Side": [10021, 10028, 10044, 10128],
"Chelsea - Clinton": [10001, 10011, 10018, 10019, 10020, 10036],
"Gramercy Park - Murray Hill": [10010, 10016, 10017, 10022],
"Greenwich Village - SoHo": [10012, 10013, 10014],
"Union Square - Lower East Side": [10002, 10003, 10009],
"Lower Manhattan": [10004, 10005, 10006, 10007, 10038, 10280]}

Stephen

Jonathan

## Rental Statistics

In [31]:
# Import dependencies
import pandas as pd
import numpy as np

# Create path to CSV for rental inventory and create a DataFrame
csvpath = "Resources/rentalInventory_All.csv"
rental_inventory_df = pd.read_csv(csvpath)

# Preview the DataFrame
rental_inventory_df.head()

              areaName    Borough   areaType  ...  2024-01  2024-02  2024-03
0         All Downtown  Manhattan  submarket  ...     5202     4870     5047
1          All Midtown  Manhattan  submarket  ...     3847     3551     3749
2  All Upper East Side  Manhattan  submarket  ...     2160     2004     2001
3  All Upper Manhattan  Manhattan  submarket  ...     2183     2014     1957
4  All Upper West Side  Manhattan  submarket  ...     1848     1747     1703

[5 rows x 174 columns]

In [32]:
# Use the melt function to unpivot the DataFrame and create a single column for dates
rental_inventory_df = rental_inventory_df.melt(id_vars=['areaName', 'Borough', 'areaType'], var_name='Date', value_name='Inventory')
# Display the cleaned and rearranged DataFrame
rental_inventory_df.head()

              areaName    Borough   areaType     Date  Inventory
0         All Downtown  Manhattan  submarket  2010-01       4258
1          All Midtown  Manhattan  submarket  2010-01       3065
2  All Upper East Side  Manhattan  submarket  2010-01       2549
3  All Upper Manhattan  Manhattan  submarket  2010-01        846
4  All Upper West Side  Manhattan  submarket  2010-01       2164

In [54]:
# Narrow the scope to only be Manhattan borough
manhattan_rent_inv = rental_inventory_df[(rental_inventory_df['Borough'] == 'Manhattan')]

# Loop through the DataFrame to search for desired date range and append to empty list
rent_range = []
for index, row in manhattan_rent_inv.iterrows():
    if row['Date'][:4] == '2018' or row['Date'][:4] == '2019' or row['Date'][:4] == '2020' or row['Date'][:4] == '2021' or row['Date'][:4] == '2022':
        rent_range.append(row)

# Create DataFrame from list and reset the index
manhattan_rent_inv = pd.DataFrame(rent_range).reset_index(drop=True)

# Display final DataFrame with desired borough and dates
manhattan_rent_inv.head()

              areaName    Borough   areaType     Date  Inventory
0         All Downtown  Manhattan  submarket  2018-01       5939
1          All Midtown  Manhattan  submarket  2018-01       4188
2  All Upper East Side  Manhattan  submarket  2018-01       2820
3  All Upper Manhattan  Manhattan  submarket  2018-01       2232
4  All Upper West Side  Manhattan  submarket  2018-01       2575

Erika

Khatia