## Housing Statistics for Total Inventory and Rental Inventory

In [4]:
# Import dependencies
import numpy as np
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [5]:
# Create a function to clean the CSV files for Manhattan and desired date range
def clean_dataframe(df):

    # Use the melt function to unpivot the DataFrame and create a single column for dates
    clean_df = df.melt(id_vars=['areaName', 'Borough', 'areaType'], var_name='Date', value_name='Inventory')
    
    # Narrow the DataFrame to Manhattan
    clean_manhattan_df = clean_df[(clean_df['Borough'] == 'Manhattan')]

    # Loop through the DataFrame to search for desired date range and append to empty list
    row_range = []
    for index, row in clean_manhattan_df.iterrows():
        if row['Date'][:4] == '2018' or row['Date'][:4] == '2019' or row['Date'][:4] == '2020' or row['Date'][:4] == '2021' or row['Date'][:4] == '2022':
            row_range.append(row)

    # Create DataFrame from list
    final_df = pd.DataFrame(row_range).reset_index(drop=True)

    # Convert 'Date' column to datetime format
    final_df['Date'] = pd.to_datetime(final_df['Date'])

    # Keep only the 'neighborhood' areaType
    final_df = final_df[final_df['areaType'] == 'neighborhood'].reset_index(drop=True)
    
    return final_df

In [6]:
# Import CSV for rental inventory in NYC and create a DataFrame
csvpath_rent = "Resources/rentalInventory_All.csv"
rental_inventory_df = pd.read_csv(csvpath_rent)

# Import CSV for total inventory in NYC and create a DataFrame
csvpath_total = "Resources/totalInventory_All.csv"
total_inventory_df = pd.read_csv(csvpath_total)

In [7]:
# Use the function to narrow the DataFrame for the desired location and dates
total_manhattan_inv = clean_dataframe(total_inventory_df)

# Display new DataFrame
total_manhattan_inv.head()

             areaName    Borough      areaType       Date  Inventory
0   Battery Park City  Manhattan  neighborhood 2018-01-01         96
1      Central Harlem  Manhattan  neighborhood 2018-01-01        212
2  Central Park South  Manhattan  neighborhood 2018-01-01         79
3             Chelsea  Manhattan  neighborhood 2018-01-01        292
4           Chinatown  Manhattan  neighborhood 2018-01-01          3

In [8]:
# Use the function to narrow the DataFrame for the desired location and dates
rent_manhattan_inv = clean_dataframe(rental_inventory_df)

# Display new DataFrame
rent_manhattan_inv.head()

             areaName    Borough      areaType       Date  Inventory
0   Battery Park City  Manhattan  neighborhood 2018-01-01        209
1      Central Harlem  Manhattan  neighborhood 2018-01-01        657
2  Central Park South  Manhattan  neighborhood 2018-01-01         75
3             Chelsea  Manhattan  neighborhood 2018-01-01        895
4           Chinatown  Manhattan  neighborhood 2018-01-01         62

### Total Inventory Analysis

In [9]:
pre_covid_sales_inv = total_manhattan_inv[total_manhattan_inv['Date'].between("2018-01-01", "2020-03-01")]
pre_covid_sales_inv

               areaName    Borough      areaType       Date  Inventory
0     Battery Park City  Manhattan  neighborhood 2018-01-01         96
1        Central Harlem  Manhattan  neighborhood 2018-01-01        212
2    Central Park South  Manhattan  neighborhood 2018-01-01         79
3               Chelsea  Manhattan  neighborhood 2018-01-01        292
4             Chinatown  Manhattan  neighborhood 2018-01-01          3
..                  ...        ...           ...        ...        ...
859     Upper East Side  Manhattan  neighborhood 2020-03-01       1720
860     Upper West Side  Manhattan  neighborhood 2020-03-01       1071
861  Washington Heights  Manhattan  neighborhood 2020-03-01        130
862         West Harlem  Manhattan  neighborhood 2020-03-01          9
863        West Village  Manhattan  neighborhood 2020-03-01        210

[864 rows x 5 columns]

In [10]:
post_covid_sales_inv = total_manhattan_inv[total_manhattan_inv['Date'].between("2020-04-01", "2022-12-01")]
post_covid_sales_inv

                areaName    Borough      areaType       Date  Inventory
864    Battery Park City  Manhattan  neighborhood 2020-04-01         84
865       Central Harlem  Manhattan  neighborhood 2020-04-01        254
866   Central Park South  Manhattan  neighborhood 2020-04-01         57
867              Chelsea  Manhattan  neighborhood 2020-04-01        256
868            Chinatown  Manhattan  neighborhood 2020-04-01         14
...                  ...        ...           ...        ...        ...
1915     Upper East Side  Manhattan  neighborhood 2022-12-01       1631
1916     Upper West Side  Manhattan  neighborhood 2022-12-01       1040
1917  Washington Heights  Manhattan  neighborhood 2022-12-01        110
1918         West Harlem  Manhattan  neighborhood 2022-12-01         10
1919        West Village  Manhattan  neighborhood 2022-12-01        145

[1056 rows x 5 columns]

In [ ]:
grouped_precovid = pre_covid_sales_inv.groupby(['areaName']).mean('Inventory')
grouped_postcovid = post_covid_sales_inv.groupby(['areaName']).mean('Inventory')